echo "# backendCars" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/devCarlosHenriqueHc/backendCars.git
git push -u origin main
